 *{padding:0px;
    margin:0px;}

.outer{width:700px;
         height:800px;
        margin:0px auto;}

.outer h1{text-align:center;} 
.details{ width:100%;
          padding:5px;
          background-color:rgb(200,200,200);
          border:1px solid black;
          font-weight:bold;
          margin:5px;}
ul{margin-left:30px;}
.border{ width:100%;
          padding:5px;
          background-color:rgb(200,200,200);
          border:1px solid black;
          font-weight:bold;
          margin:5px;}
p{ margin-left:15px;}

.qualify{margin-left:25px;}
.skills{width:100%;
          padding:5px;
          background-color:rgb(200,200,200);
          border:1px solid black;
          font-weight:bold;
          margin:5px;}
.eaa{width:100%;
          padding:5px;
          background-color:rgb(200,200,200);
          border:1px solid black;
          font-weight:bold;
          margin:5px;}